name: mongo-monitoring

services:
  mongodb-exporter:
    image: percona/mongodb_exporter:0.40
    container_name: mongodb-exporter
    command:
      - "--mongodb.uri=mongodb://exporter:exporter123@mongo-mongos:27017/admin?authSource=admin"
      - "--collect-all"
      - "--compatible-mode"
    ports:
      - "9216:9216"
    networks:
      - mongo-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - mongo-net

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - mongo-net

networks:
  mongo-net:
    external: true

